In [ ]:
print('INTRODUCTION TO PYTHON FOR MACHINE LEARNING(Pandas)')

In [60]:
print('Learning Pandas')
print('Pandas can manipulate data in two ways: In Series and DataFrame')
import pandas as pd #- Instead of using `pandas` we use `pd` to access the pandas library
print('-----Series-----')
daysOfTheWeek = pd.Series(['Sunday','Moday','Tuesday','Wednesday','Thursday','Friday','Saturday'])
print('Days of the week in Series')
#Modifying the index of the series      
daysOfTheWeek = pd.Series(['Sunday','Moday','Tuesday','Wednesday','Thursday','Friday','Saturday'], index=[1,2,3,4,5,6,7])
print(daysOfTheWeek)
#Acessing Series
daysOfTheWeek = pd.Series(['Sunday','Moday','Tuesday','Wednesday','Thursday','Friday','Saturday'])
print('The first day of the week is -',daysOfTheWeek[0])
#Values can also be accessed by their index
daysOfTheWeek = pd.Series(['Sunday','Moday','Tuesday','Wednesday','Thursday','Friday','Saturday'], index=[1,2,3,4,5,6,7])
print('The first working day is -',daysOfTheWeek[2])
print('-----DataFrame-----')
df = pd.DataFrame()
print(df)
#Creating a dataframe from a dictionary
df_dict = {'Days':['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
                   'Months':['January','February','March','April','May','June'],
                    'Year': [2000,2001,2002,2003,2004,2005], 
                    
                  } #- Note that all arrays must be of same length
df = pd.DataFrame(df_dict, index = [1,2,3,4,5,6])
print(df)
#Manipulating dataframe
print('The third value in the array \n',df.iloc[3]) #- The value is gotten by the index of the array i.e the numerical position
print('The third index in the array \n',df.loc[3]) #- The value is gotten by the number of the index
print('Days of the week')
print(df['Days']) #- values in a dataframe can also be accessed using their coulmn names
print('Other methods of accessing data from a dataframe include:')
print('Today is -',df.at[5, 'Days'])
print('Yesterday was -',df.iat[3,0])
#Basic Calculations in pandas
print('The sum of 6 years starting from year 2000 is -',df['Year'].sum())
print(df.describe())
print('The mean of the dataframe:',df.mean())
import numpy as np
df2_dict = {'Days':['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
                   'Months':['January','February','March',np.nan,'May','June'],
                    'Year': [2000,2001,2002,2003,2004,2005], 
                    
                  }# -NaN stands for Not a Number
print(pd.DataFrame(df2_dict))
df2 = pd.DataFrame(df2_dict, index = [1,2,3,4,5,6])
print('NaN values will show True', df2.isnull()) # - This identifies the null value or NaN value in the dataframe and gives it a True value
print('NaN values dropped from dataframe', df2.dropna())

print('Feel free to modify any line to see the output')
print('Happy Coding!')

Learning Pandas
Pandas can manipulate data in two ways: In Series and DataFrame
-----Series-----
Days of the week in Series
1       Sunday
2        Moday
3      Tuesday
4    Wednesday
5     Thursday
6       Friday
7     Saturday
dtype: object
The first day of the week is - Sunday
The first working day is - Moday
-----DataFrame-----
Empty DataFrame
Columns: []
Index: []
        Days    Months  Year
1     Monday   January  2000
2    Tuesday  February  2001
3  Wednesday     March  2002
4   Thursday     April  2003
5     Friday       May  2004
6   Saturday      June  2005
The third value in the array
 Days      Thursday
Months       April
Year          2003
Name: 4, dtype: object
The third index in the array
 Days      Wednesday
Months        March
Year           2002
Name: 3, dtype: object
Days of the week
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
Name: Days, dtype: object
Other methods of accessing data from a dataframe include:
Today is - Friday
Yesterday was - Thursday
The sum of 6 years starting from year 2000 is - 12015
              Year
count     6.000000
mean   2002.500000
std       1.870829
min    2000.000000
25%    2001.250000
50%    2002.500000
75%    2003.750000
max    2005.000000

C:\Users\ADEKANYE\AppData\Local\Temp\ipykernel_5924\851453560.py:38: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print('The mean of the dataframe:',df.mean())

The mean of the dataframe: Year    2002.5
dtype: float64
        Days    Months  Year
0     Monday   January  2000
1    Tuesday  February  2001
2  Wednesday     March  2002
3   Thursday       NaN  2003
4     Friday       May  2004
5   Saturday      June  2005
NaN values will show True     Days  Months   Year
1  False   False  False
2  False   False  False
3  False   False  False
4  False    True  False
5  False   False  False
6  False   False  False
NaN values dropped from dataframe         Days    Months  Year
1     Monday   January  2000
2    Tuesday  February  2001
3  Wednesday     March  2002
5     Friday       May  2004
6   Saturday      June  2005
Feel free to modify any line to see the output
Happy Coding!