In [6]:
import pandas as pd
AnimalFat = pd.read_csv('dataset/FoodBalanceSheets.csv', encoding='latin-1')
AnimalFat.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [19]:
print('Question 1 - Total Sum of AnimalFat produced in 2014 and 2017 respectively')
AnimalFatSum = AnimalFat.groupby(['Item'])['Y2014','Y2015'].count()
print(AnimalFatSum)
print('groupby() is basically a form of joining/group multiple columns using a central column provided as a parameter')

Question 1 - Total Sum of AnimalFat produced in 2014 and 2017 respectively
                     Y2014  Y2015
Item
Alcohol, Non-Food      275    271
Alcoholic Beverages    562    559
Animal Products        135    135
Animal fats            635    633
Apples and products    510    511
...                    ...    ...
Vegetables, Other      575    573
Vegetal Products       135    135
Wheat and products     645    648
Wine                   491    490
Yams                   318    330

[119 rows x 2 columns]
groupby() is basically a form of joining/group multiple columns using a central column provided as a parameter

C:\Users\ADEKANYE\AppData\Local\Temp\ipykernel_8796\2133049740.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  AnimalFatSum = AnimalFat.groupby(['Item'])['Y2014','Y2015'].count()

In [18]:
print('Question 2 - Mean and Standard Deviation for Y2015')
mean_of_2015 = AnimalFatSum['Y2015'].mean()
std_of_2015 = AnimalFatSum['Y2015'].std()
print('Mean of 2015',mean_of_2015)
print('Standard Deviation of 2015',std_of_2015)

Question 2 - Mean and Standard Deviation for Y2015
Mean of 2015 499.11764705882354
Standard Deviation of 2015 153.65155255055646

In [27]:
print('Question 3 - Total Number and Percentage of missing data in 2016')
total_cells = prod(dim(AnimalFat['2016']))
missing_data = AnimalFat['Y2016'].isnull().sum()
percentage = missing_data * 100 / total_cells
print('Total number of missing data',missing_data)
print('Percentage of missing data',percentage)

Question 3 - Total Number and Percentage of missing data in 2016

NameError: name 'prod' is not defined