In [10]:
import pandas as pd
df = pd.read_csv('dataset/FoodBalanceSheets.csv', encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [49]:
print('Question 1')
print('Total Sum of AnimalFat produced in 2014 and 2017 respectively')
AnimalFatSum = df.groupby(['Item'])['Y2014','Y2015'].count()
print(AnimalFatSum)
print('groupby() is basically a form of joining/group multiple columns using a central column provided as a parameter')

Question 1
Total Sum of AnimalFat produced in 2014 and 2017 respectively

C:\Users\ADEKANYE\AppData\Local\Temp\ipykernel_10052\1109957534.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  AnimalFatSum = df.groupby(['Item'])['Y2014','Y2015'].count()

                     Y2014  Y2015
Item
Alcohol, Non-Food      275    271
Alcoholic Beverages    562    559
Animal Products        135    135
Animal fats            635    633
Apples and products    510    511
...                    ...    ...
Vegetables, Other      575    573
Vegetal Products       135    135
Wheat and products     645    648
Wine                   491    490
Yams                   318    330

[119 rows x 2 columns]
groupby() is basically a form of joining/group multiple columns using a central column provided as a parameter