In [76]:
import pandas as pd
AnimalFat = pd.read_csv('dataset/FoodBalanceSheets.csv', encoding='latin-1')
AnimalFat.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
print('Question 1 - Total Sum of AnimalFat produced in 2014 and 2017 respectively')
AnimalFatSum = AnimalFat.groupby(['Item'])['Y2014','Y2015'].count()
print(AnimalFatSum)
print('groupby() is basically a form of joining/group multiple columns using a central column provided as a parameter')

In [ ]:
print('Question 2 - Mean and Standard Deviation for Y2015')
mean_of_2015 = AnimalFatSum['Y2015'].mean()
std_of_2015 = AnimalFatSum['Y2015'].std()
print('Mean of 2015',mean_of_2015)
print('Standard Deviation of 2015',std_of_2015)

In [ ]:
print('Question 3 - Total Number and Percentage of missing data in 2016')
missing_data = AnimalFat['Y2016'].isnull().sum()
percentage = missing_data * 100 / len(AnimalFat['Y2016'])
print('Total number of missing data',missing_data)
print('Percentage of missing data',percentage)

In [ ]:
print('Side Question - Total Number and Percentage of AnimalFat data')
data = AnimalFat.sum()
percentage = data * 100 / len(AnimalFat)
print('Total number of missing data',data)
print('Percentage of missing data',percentage)

In [43]:
print('Question 4 - Year with the highest correlation with Element Code')
AnimalFat

Question 4 - Year with the highest correlation with Element Code

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [58]:
print('Question 5 - Year with the highest sum of Import Quantity')
highest_sum_of_import_quantity = AnimalFat.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017','Y2018'].count()
print(highest_sum_of_import_quantity.max())

Question 5 - Year with the highest sum of Import Quantity
Y2014    5244
Y2015    5245
Y2016    5250
Y2017    5258
Y2018    5256
dtype: int64

C:\Users\ADEKANYE\AppData\Local\Temp\ipykernel_8796\34682717.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  highest_sum_of_import_quantity = AnimalFat.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017','Y2018'].count()

In [74]:
print('Question 6 - Total number of the sum of Production in 2014')
total_number_of_production = AnimalFat.groupby(['Element'])['Y2014'].sum()
total_number_of_production

Question 6 - Total number of the sum of Production in 2014

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [79]:
print('Question 7 - Elements with the highest sum in 2018')
highest_sum_in_2018 = AnimalFat.groupby(['Element'])['Y2018'].sum()
print(highest_sum_in_2018)

Question 7 - Elements with the highest sum in 2018
Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [86]:
print('Question 8 - Elements with the 3rd Lowest sum in 2018')
third_lowest_sum_in_2018 = AnimalFat.groupby(['Element'])['Y2018'].sum()
print(third_lowest_sum_in_2018)

Question 8 - Elements with the 3rd Lowest sum in 2018
Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [87]:
print('Question 9 - Total Import Quantity in Algeria in 2018')
AnimalFat

Question 9 - Total Import Quantity in Algeria in 2018

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01