In [1]:
import pandas as pd
df = pd.read_csv('dataset/FoodBalanceSheets.csv', encoding='latin-1', index_col=0)
df

,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,,,,,,,,,,,
4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...
181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [26]:
print('Question 1 - What is the total sum of AnimalFat produced in 2014 and 2017 respectively')
total_sum_of_animalFat = df.groupby(['Item'])['Y2014','Y2017'].sum()
print(total_sum_of_animalFat)
print('The total sum of Animal Fat is 209460.54 and 269617.53')
print('groupby() is basically a form of joining/grouping multiple columns using a central column provided as a parameter')

Question 1 - What is the total sum of AnimalFat produced in 2014 and 2017 respectively
                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]
The total sum of Animal Fat is 209460.54 and 269617.53
groupby() is basically a form of joining/grouping multiple columns using a central column provided as a parameter

C:\Users\ADEKANYE\AppData\Local\Temp\ipykernel_1992\1348709451.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  total_sum_of_animalFat = df.groupby(['Item'])['Y2014','Y2017'].sum()

In [28]:
print('Question 2 - What is the mean and standard deviation across the whole dataset for Y2015')
mean_of_Y2015 = df['Y2015'].mean()
std_of_Y2015 = df['Y2015'].std()
print('Mean of 2015 -',mean_of_Y2015)
print('Standard Deviation of 2015 -',std_of_Y2015)

Question 2 - What is the mean and standard deviation across the whole dataset for Y2015
Mean of 2015 - 135.23596649549626
Standard Deviation of 2015 - 1603.4039839425013

In [2]:
print('Question 3 - What is the total number and percentage of missing data in 2016')
missing_data = df['Y2016'].isnull().sum()
percentage = missing_data * 100 / len(df['Y2016'])
print('Total number of missing data',missing_data)
print('Percentage of missing data',percentage)

Question 3 - What is the total number and percentage of missing data in 2016
Total number of missing data 1535
Percentage of missing data 2.518747025909456

In [10]:
print('Question 4 - What year had the highest correlation with Element Code')
highest_correlation = df.groupby(['Element Code']).count()
highest_correlation.corr()
print('The year with the highest correlation is 2017 with the value - 0.995815')

Question 4 - What year had the highest correlation with Element Code

,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,1.000000,1.000000,1.000000,1.000000,1.000000,0.995944,0.996317,0.995730,0.995815,0.995703
Item Code,1.000000,1.000000,1.000000,1.000000,1.000000,0.995944,0.996317,0.995730,0.995815,0.995703
Item,1.000000,1.000000,1.000000,1.000000,1.000000,0.995944,0.996317,0.995730,0.995815,0.995703
Element,1.000000,1.000000,1.000000,1.000000,1.000000,0.995944,0.996317,0.995730,0.995815,0.995703
Unit,1.000000,1.000000,1.000000,1.000000,1.000000,0.995944,0.996317,0.995730,0.995815,0.995703
Y2014,0.995944,0.995944,0.995944,0.995944,0.995944,1.000000,0.999970,0.999986,0.999981,0.999983
Y2015,0.996317,0.996317,0.996317,0.996317,0.996317,0.999970,1.000000,0.999952,0.999946,0.999933
Y2016,0.995730,0.995730,0.995730,0.995730,0.995730,0.999986,0.999952,1.000000,0.999994,0.999983
Y2017,0.995815,0.995815,0.995815,0.995815,0.995815,0.999981,0.999946,0.999994,1.000000,0.999981
Y2018,0.995703,0.995703,0.995703,0.995703,0.995703,0.999983,0.999933,0.999983,0.999981,1.000000

In [15]:
print('Question 5 - What year has the highest sum of Import Quantity')
highest_sum_of_import_quantity = df.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()
print(highest_sum_of_import_quantity)
print('The year with the highest sum of Import Quantity is Year 2017 with a sum of 294559.09')

Question 5 - What year has the highest sum of Import Quantity
                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00
The year with the highest sum of Import Quantity is Year 2017 with a sum of 294559.09

C:\Users\ADEKANYE\AppData\Local\Temp\ipykernel_5836\1071887063.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  highest_sum_of_import_quantity = df.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

In [19]:
print('Question 6 - What is the total number of the sum of Production in 2014')
total_number_of_production = df.groupby(['Element'])['Y2014'].sum()
print(total_number_of_production)
print('The total number of the sum of Production in 2014 is - 1931287.75 as shown in the dataset below')

Question 6 - What is the total number of the sum of Production in 2014
Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64
The total number of the sum of Production in 2014 is - 1931287.75 as shown in the dataset below

In [21]:
print('Question 7 - Which of these elements had the highest sum in 2018')
highest_sum_in_2018 = df.groupby(['Element'])['Y2018'].sum()
print(highest_sum_in_2018)
print('The element with the highest sum is Domestic supply quantity with a value of -',highest_sum_in_2018.max())

Question 7 - Which of these elements had the highest sum in 2018
Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64
The element with the highest sum is Domestic supply quantity with a value of - 2161192.1

In [22]:
print('Question 8 -  Which of these elements had the 3rd Lowest sum in 2018')
third_lowest_sum_element_in_2018 = df.groupby(['Element'])['Y2018'].sum()
print(third_lowest_sum_element_in_2018)
print('The element with the lowest sum in 2018 is Tourist consumption with',third_lowest_sum_element_in_2018.min())
print('The element with the 3rd lowest sum in 2018 is Protein supply quantity (g/capita/day) with a value of 11833.56')

Question 8 -  Which of these elements had the 3rd Lowest sum in 2018
Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64
The element with the lowest sum in 2018 is Tourist consumption with 90.0
The element with the 3rd lowest sum in 2018 is Protein supply quantity (g/capita/day)

In [27]:
print('Question 9 - What is the total Import Quantity in Algeria in 2018')
total_import_quantity = df.groupby(['Area','Element'])['Y2018'].sum()
total_import_quantity.head(10)
print('The total Import Quantity in Algeria in 2018 is 36238.29 as shown in the table below')

Question 9 - What is the total Import Quantity in Algeria in 2018
The total Import Quantity in Algeria in 2018 is 36238.29 as shown in the table below

In [26]:
print('Question 10 - What is the total number of unique countries in the dataset')
unique_countries = len(df['Area'].unique())
print('The total numbers of countries in the dataset is -',unique_countries)

Question 10 - What is the total number of unique countries in the dataset
The total numbers of countries in the dataset is - 49